.row{
    justify-content: center;
}
.card{
    width: 264px;
    height: 263px;
    margin: 10px;
    border-radius: 15px;
    background-color: $primary;
    border: 1pxsolid $primary;

   &--border-coloured{
       border: 1px solid $card-bg;
       background-color: $changecolor;
   }

   &--bg-colored{
       background-color: $card-bg;
   }
}
