.main_footer{
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center; 

    p{
        margin-left: 30px;
    }
    
    .legal{
        margin-right: 30px;
    }
}
@media(max-width:768){
    .main_footer{
        display: flex;
        flex-direction: colunm;
        justify-content: center;
        align-items: center;
        height: 40px;
    }
}